

#week 01 files
/week01/data/*
/week01/ny_taxi_postgres_data/*
/week01/output.parquet
/week01/2_docker_sql/ny_taxi_postgres_data/*

#week 02 files
/week02/data/*
/week02/export
/week02/*.parquet
/week02/*.gz
/week02/ny_taxi_postgres_data/*

git remote add origin https://github.com/leshiota/data_engineering-_zoomcamp.git