

#week 01 files
week01/data/
week01/ny_taxi_postgres_data/
week01/ny_taxi_postgres_data/
week01/2_docker_sql/ny_taxi_postgres_data/
week01/output.parquet
week01/2_docker_sql/ny_taxi_postgres_data/

#week 02 files
week02/data/
week02/export
week02/*.parquet
week02/*.gz
week02/ny_taxi_postgres_data/


zoom/
# Default .gitignore content added by dbt Cloud
target/
dbt_packages/
logs/
# end dbt Cloud content

#week 03 files
week03/data/

#week 04 files
week04/data/

#root files
*.csv.gz
yellow_tripdata_2021-01.csv.gz